h1, .h1 { font-size: $fontSizeBase * 3; }
h2, .h2 { font-size: $fontSizeBase * 2.6; }
h3, .h3 { font-size: $fontSizeBase * 2.2; }
h4, .h4 { font-size: $fontSizeBase * 1.8 ; }
h5, .h5 { font-size: $fontSizeBase * 1.4; }
h6, .h6 { font-size: $fontSizeBase * 1; }
