.copyright {
    &_footer {
        text-align: center;
        padding: 1.25rem 0;
        color: #fff;
        font-weight: normal;
        border-top: 1px solid #87a0d2;
        font-size: 0.95rem;
    }
}
