.logo {

    &-link {
        display: inline-block;
        vertical-align: middle;
        line-height: 0;
    }

    &-image {
        transition: 0.3s ease-in;

        &:hover {
            transform: scale(1.05);
        }
    }

    &_header {
        padding: 1rem 0;
    }

}
